/* Add this to your styles.css file */

@media (max-width: 768px) {
    /* Styles for devices with a max-width of 768px (e.g. tablets) */
    header {
        font-size: 1.5em;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    #sectionText, #sectionImg {
        display: block;
        width: 100%;
    }
    #sectionImg img {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    /* Styles for devices with a max-width of 480px (e.g. smartphones) */
    header {
        font-size: 1.2em;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    #sectionText, #sectionImg {
        display: block;
        width: 100%;
    }
    #sectionImg img {
        max-width: 100%;
    }
}

body {
    background-color: rgb(40, 39, 57);
    color: white;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 700px;
    margin: auto;
}

header {
    float: left;
    margin-top: 35px;
}

nav {
    float: right;
    margin-top: 20px;
}

nav li {
    list-style: none;
    float: left;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: rgb(196, 194, 237);
}

#btn {
    border: 15px solid rgb(68, 65, 128);
    background-color: rgb(68, 65, 128);
    border-radius: 500px;
    width: 100px;
    text-align: center;
}

section {
    clear: both;
    padding-top: 55px;
    margin-top: 25px;
}

#sectionText {
    float: left;
}

#sectionImg {
    float: right;
}

#sectionImg img {
    border-radius: 500px;
    height: 200px;
    margin-right: 50px;
}

#introduction ul {
    margin-left: -50px;
}

#introduction li {
    list-style: none;
    float: left;
    margin-left: 20px;
}

#skills {
    font-size: 115%;
}

#skills h2 {
    font-size: 125%;
    color: rgb(196, 194, 237);
}

#skills li {
    margin-bottom: 10px;
}

#languages {
    float: left;
    margin-right: 250px;
}

#tools {
    float: left;
}

#development {
    clear: both;
    float: left;
    margin-right: 210px;
}

#technologies {
    float: left;
}

#mail {
    font-size: 120%;
}

#mail i, #mail b {
    color: rgb(196, 194, 237);
}

footer {
    margin-top: 50px;
    margin-bottom: 20px;
}